<body>
    <app-navbar></app-navbar>
    <div class="body-container">
        <div class="top-choices">
            <div class="row g-0 justify-content-md-center">
                <div class="col-lg-3">
                    <div class="card" style="background-image: url(../../assets/DSC_0022.jpg);background-position:center;background-size: cover;filter: brightness(75%)">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <p>HOODIES</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp8ClwIDN67qNNerjbqPGvslmh3DtE9Duljg&usqp=CAU);background-position:center;background-size: cover;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <p>JOGGERS</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9cBXjBBtuEWZuN8GADq31OCZgnzLTDWu0Q&usqp=CAU);background-position:center;background-size: cover;">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <p>VESTS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="products">
            <div class="product-title">
                <div class="row g-0 justify-content-center">
                    <h3>Products</h3>
                </div>
                <div class="products-body">
                    <div class="row g-0 justify-content-md-center">
                        <div class="col-lg-2">
                            <div class="card" style="background-image: url(../../assets/DSC_0022.jpg);background-position:bottom;background-size: cover;filter: brightness(75%);">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p>HOODIES</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp8ClwIDN67qNNerjbqPGvslmh3DtE9Duljg&usqp=CAU);background-position:center;background-size: cover;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p>JOGGERS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9cBXjBBtuEWZuN8GADq31OCZgnzLTDWu0Q&usqp=CAU);background-position:center;background-size: cover;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p>VESTS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSp8ClwIDN67qNNerjbqPGvslmh3DtE9Duljg&usqp=CAU);background-position:center;background-size: cover;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p>JOGGERS</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="card" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX9cBXjBBtuEWZuN8GADq31OCZgnzLTDWu0Q&usqp=CAU);background-position:center;background-size: cover;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p>VESTS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer style="padding: 20px;"></app-footer>
</body>
