.navbar{
    background-color: black;
}
i{
    color: white;
    font-size: larger;
    padding: 10px;
}
img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 30px;
}
p {
    padding-top: 10px;
    font-size: 30px;
    color: white;
}
h6{
    color: white;
    padding-top: 15px;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: black;
}

