.navbar{
    background-color: black;
}
i{
    color: white;
    font-size: larger;
    padding: 10px;
}
img {
    width: auto;
    height: 50px;
}
p {
    padding-top: 10px;
    font-size: 30px;
    color: white;
}
h6{
    color: white;
    padding-top: 15px;
    padding-right: 10px;
    font-family: monospace;
}

