<body>
    <app-navbar></app-navbar>
    <div class="container">
        <form>
            <div class="login-texts">
                <h3>LOGIN</h3>
                <h4>Please enter email and password</h4>
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <a>Forgotten Password</a>
            <input routerLink="/Home" type="submit" value="LOGIN">
            <p>Don't have an account?</p><a routerLink="/Register">Register</a>
        </form>
    </div>
    <hr>
    <app-footer></app-footer>
</body>
