<body>
    <app-navbar></app-navbar>
    <div class="container">
        <form>
            <div class="register-texts">
                <h3>REGISTER</h3>
                <h4>Please enter email and password</h4>
            </div>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input routerLink="/Home" type="submit" value="CREATE MY ACCOUNT">
            <p>Have an account?</p><a routerLink="">Login</a>
        </form>
    </div>
    <hr>
    <app-footer></app-footer>
</body>
